<%- include('./includes/header2.ejs') %>
<header class="bg-primary text-white">
  <div class="container text-center">
    <h1><%= Department %></h1>
  </div>
</header>

<div class="wrapper">
  <div class="file-download">
    <br />
    <br />
    <h1 class="text-center">Levels</h1>
    <br />

    <% for( level of Levels ) { %>
    <li class="list">
      <b
        ><a href="/level?department=<%= Department %>&level=<%= level %>"
          ><%= level %> Level</a
        ></b
      >
    </li>
    <br />
    <% } %>
  </div>
</div>
<%- include('./includes/footer.ejs') %>
