<%- include('./includes/header2.ejs') %>
<header class="bg-primary text-white">
  <div class="container text-center">
    <h1><%= School.school %></h1>
  </div>
</header>

<div class="wrapper">
  <div class="file-download">
    <br />
    <br />
    <h1 class="text-center">Departments</h1>
    <br />

    <% for( sch of School.departments ) { %>
    <li class="list">
      <b><a href="/department/<%= sch._id %>"><%= sch.department %></a></b>
    </li>
    <br />
    <% } %>

    <br />
    <!--<h6>Note: If your department is not listed, then no question is available for your department. Your department becomes listed when a question is available for it, thanks.</h6>
            <iframe src="https://drive.google.com/embeddedfolderview?id=134Jt7DD8zMPajkMQcrN7OgmhBav5upyS134Jt7DD8zMPajkMQcrN7OgmhBav5upyS#grid" style="width:100%; height:600px; border:0;"></iframe>
    		<input type="file" />-->
  </div>
</div>
<%- include('./includes/footer.ejs') %>
