<%- include('./includes/header2.ejs') %>
<header class="bg-primary text-white">
  <div class="container text-center">
    <h1><%= Level %> Level</h1>
  </div>
</header>

<div class="wrapper">
  <div class="file-download">
    <br />
    <br />
    <h1 class="text-center">Sessions</h1>
    <br />

    <% for( session of Sessions ) { %>
    <li class="list">
      <b
        ><a
          href="/session?department=<%= Department %>&level=<%= Level %>&session=<%= session%>"
          ><%= session %></a
        ></b
      >
    </li>
    <br />
    <% } %>

    <br />
  </div>
</div>
<%- include('./includes/footer.ejs') %>
