<%- include('./includes/header2.ejs') %>
<header class="bg-primary text-white">
  <div class="container text-center">
    <h1><%= Question[0].course_code %> (<%= Question[0].session %>)</h1>
  </div>
</header>

<div class="wrapper">
  <div class="file-download">
    <br />
    <br />
    <h1 class="text-center"><%= format %></h1>
    <br />

    <% for (let c = 0; c < Question[0].url.length; c++) { %>
    <li>
      <b><a href="<%= Question[0].url[c] %>"><%= count%> <%= c + 1 %></a></b>
    </li>
    <br />
    <% } %>
  </div>
</div>
<%- include('./includes/footer.ejs') %>
