<%- include('./includes/header2.ejs') %>
<header class="bg-primary text-white">
  <div class="container text-center">
    <h1><%= Session %> Session</h1>
  </div>
</header>

<div class="wrapper">
  <div class="file-download">
    <br />
    <br />
    <h1 class="text-center">Questions</h1>
    <br />

    <% for( question of Questions ) { %>

    <%= %>
    <li class="list">
      <b
        ><a
          href="/question?department=<%= Department %>&level=<%= Level %>&session=<%= Session %>&name=<%- encodeURIComponent(question.course_name) %>&code=<%= question.course_code %>"><%= question.course_name %>
          (<%= question.course_code %>)</a></b
      >
    </li>
    <br />
    <% } %>

    <br />
  </div>
</div>
<%- include('./includes/footer.ejs') %>
