<%- include('./includes/header2.ejs') %>

<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Upload Questions</h1>
  </div>
</header>

<div class="wrapper">
  <div class="fi le-download">
    <br />
    <br />
    <h2 class="text-center">Please Upload a Question</h2>
    <br />
    <br />

    <div class="message"></div>

    <form id="formtwo" class="upload-question" enctype="multipart/form-data">
      <p>Department:</p>
      <select id="department" name="department">
        <% for( course of courses ) { %>
        <option value="<%= course.course %>"><%= course.course %></option>
        <% } %>
      </select>
      <br />
      <br />
      <p>Course Code:</p>
      <input
        type="text"
        id="course_code"
        name="course_code"
        placeholder="Course Code"
      />
      <br />
      <br />
      <p>Course Name:</p>
      <input
        type="text"
        id="course_name"
        name="course_name"
        placeholder="Course Name"
      />
      <br />
      <br />
      <p>Session:</p>
      <select id="session" name="session">
        <% for( session of sessions ) { %>
        <option value="<%= session.session %>"><%= session.session %></option>
        <% } %>
      </select>
      <br />
      <br />
      <p>Level Taken:</p>
      <select id="level" name="level">
        <% for( level of levels ) { %>
        <option value="<%= level.level %>"><%= level.level %></option>
        <% } %>
      </select>
      <br />
      <br />
      <p>Images/Doc:</p>
      <input type="file" id="photo" name="image" class="fCheck" multiple />
      <br />
      <br />
      <input type="submit" name="submit" id="submit" />

      <%- include('./includes/preloader.ejs') %>
    </form>
    <br />
    <br />
    <br />
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/js/uploadScript.js"></script>

<%- include('./includes/footer.ejs') %>
